<div id="list_page_content_wrapper">
  <h1>Your Lists</h1>
  <table id="list_table">

  </table>
  <div id="new_item_wrapper">
    <h3>Add a New List: </h3>
    <form action="/groceries" method="post">
      <input type="text" required=1 id="new_item_form" name="new_item">
      <input type="submit" id="submit_button">
    </form>
  </div>
</div>
