<div class="form_page">
  <h3>Welcome. Please log in to access your lists</h3>
  <form action="/" method="post">
    <div>
      <label for="username">Username:</label>
      <input type="text" required=1 id="username" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" required=1 id="password" name="password">
    </div>
    <input type="submit" id="submit_button">
  </form>
  <a href="/new"><p>Click Here to Create an Account</p></a>
</div>
