<div class="form_page">
  <h3>To create an account....</h3>
  <form action="/new" method="post">
    <div>
      <label for="new_name">Enter Your Name:</label>
      <input type="text" required=1 id="name" name="new_name">
    </div>
    <div>
      <label for="new_username">Choose Your Username:</label>
      <input type="text" required=1 id="username" name="new_username">
    </div>
    <div>
      <label for="new_password">Choose Your Password:</label>
      <input type="text" required=1 id="password" name="new_password">
    </div>
    <input type="submit" id="submit_button">
  </form>
  <a href="/"><p>Back to Login Page</p></a>
</div>
