<div class="form_page">
  <h3>To create an account....</h3>
  <form action="/new" method="post">
    <table>
      <tr>
        <td><label for="new_username">Choose Your Username:</label></td>
        <td><input type="text" required=1 id="username" name="new_username"></td>
      </tr>
      <tr>
        <td><label for="email">Enter Your Email Address:</label></td>
        <td><input type="email" required=1 id="email" name="email"></td>
      </tr>
      <tr>
        <td><label for="new_password">Choose Your Password:</label></td>
        <td><input type="password" required=1 id="password" name="new_password"></td>
      </tr>
      <tr>
        <td><label for="confirm_password">Re-Type Your Password:</label></td>
        <td><input type="password" required=1 id="confirm_password" name="confirm_password"></td>
      </tr>
      <tr><td colspan="2"><input type="submit" id="submit_button"></td></td>
    </table>
  </form>
  <a href="/"><p>Back to Login Page</p></a>
</div>
